SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3 # vai ser em mariadb
# DATABASE_URL=mysql://root:12345678@localhost:3306/hudsonTchola
JWT_ACCESS_HOURS=1
JWT_REFRESH_DAYS=7
API_PAGE_SIZE=50
TIME_ZONE=America/Campo_Grande
DJANGO_LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG 
